.main_body{
	margin-top: 105px;
	padding: 30px 0px;
	position: relative;
}
.main_b_info{
	width: 100%;
	/*overflow: hidden;*/
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.main_b_i_img{
	position: relative;
	width: 550px;
	/*float: left;*/
	margin-left: -100px;
	z-index: 999;
	opacity: 0;
	transition: margin-left 2s, opacity 2.5s;
	-moz-transition: margin-left 2s, opacity 2.5s;	/* Firefox 4 */
	-webkit-transition: margin-left 2s, opacity 2.5s;	/* Safari 和 Chrome */
	-o-transition: margin-left 2s, opacity 2.5s;	/* Opera */
}
.main_b_i_msg{
	width: 350px;
	/*float: right;*/
	border-bottom: 1px solid #000;
	margin-right: -100px;
	opacity: 0;
	transition: margin-right 2s, opacity 2.5s;
	-moz-transition: margin-right 2s, opacity 2.5s;	/* Firefox 4 */
	-webkit-transition: margin-right 2s, opacity 2.5s;	/* Safari 和 Chrome */
	-o-transition: margin-right 2s, opacity 2.5s;	/* Opera */
}
.main_b_i_sld{
	border: 2px solid #000;
}
.main_b_i_lbtn{
	position: absolute;
	top: 200px;
	left: 0px;
	width: 25px;
	height: 30px;
	background: url('../image/icon5.png') no-repeat center center;
	cursor: pointer;
}
.main_b_i_rbtn{
	position: absolute;
	top: 200px;
	right: 0px;
	width: 25px;
	height: 30px;
	background: url('../image/icon6.png') no-repeat center center;
	cursor: pointer;
}
.main_b_i_a{
	width: 100%;
	border-top: 1px solid #000;
}
.main_b_i_case{
	width: 100%;
	margin-top: 50px;
	opacity: 0;
	transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;	/* Firefox 4 */
	-webkit-transition: opacity 1.5s;	/* Safari 和 Chrome */
	-o-transition: opacity 1.5s;	/* Opera */
}
.main_b_i_cl img{
	transform:scale(1);
	-ms-transform:scale(1); 	/* IE 9 */
	-moz-transform:scale(1); 	/* Firefox */
	-webkit-transform:scale(1); /* Safari 和 Chrome */
	-o-transform:scale(1); 	/* Opera */
	transition: transform .8s;
	-moz-transition: transform .8s;	/* Firefox 4 */
	-webkit-transition: transform .8s;	/* Safari 和 Chrome */
	-o-transition: transform .8s;	/* Opera */
}